/*--------------------------------------------------------------
## Home Slider
--------------------------------------------------------------*/
.ht-slide{
    position: relative;
    img{
        width: 100%;
        @include tablet{
            display: none;
        }
    }
}

.ht-slide--cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ht-slide-overlay{
    //position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //background: rgba(0,0,0,0.2);
}

.ht-slide-caption{
    position: relative;
    @include tablet {
        max-width: 800px;
        margin: 0 auto;
        padding: 150px 0 0;
    }
    @include desktop {
        min-height: 450px;
        padding: 100px 0;
    }

    .ht-slide-caption-inner{
        background-color: #72bf44;
        padding-bottom: 20px;
        @include tablet {
            background-color: rgba(#ffffff, 0.65);
            padding: 20px 10px;
        }
    }
}

.ht-slide-cap-title{
    text-align: center;
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    //text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    @include tablet{
        font-size: 32px;
        margin-bottom: 20px;
        //padding: 0 10%;
    }
    span{
        display: block;
        padding: 8px 15px;
        background: #FFC107;
        @include tablet{
            display: inline-block;
        }
    }
}

.ht-slide-cap-desc{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    padding: 0 10px;
    @include tablet{
        color: #444;
        font-size: 22px;
        line-height: 1.2;
        //padding: 0 20%;
    }
}

#ht-home-slider-section .bx-wrapper {
    .bx-controls-direction a{
        height: 70px;
        width: 50px;
        margin-top: -35px;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }
    .bx-prev {
        background: url(../images/prev.png) no-repeat center rgba(0, 0, 0, 0.3);
        left: 0;
    }
    .bx-next{
        background: url(../images/next.png) no-repeat center rgba(0,0,0,0.3);
        right: 0;
    }
}
