@import "compass/css3";

@import "compass/utilities/sprites";

@import "variables";
@import "mixin";

.button{
    display: inline-block;
    background-color: $color-green;
    color: white !important;
    padding: 5px 20px;
    text-align: center;
    border: 1px solid $color-green;
    @include border-radius(1px);
    text-decoration: none !important;
    margin: 3px 1px;
    text-shadow: none !important;
    outline: none;
    &:hover{
        background-color: #333;
        color: white !important;
        border-color: #333;
    }
    i{
        margin-right: 10px;
    }
}
.button--green{

}
.button--white{
    color: $color-grey !important;
    background-color: white;
    border-color: $color-grey;
    &:hover{
        background-color: #333;
        color: white !important;
        border-color: #333;
    }
}

.button--pink{
    background-color: $color-pink;
    border-color: $color-pink;
    &:hover{
        background-color: #333;
        color: white !important;
        border-color: #333;
    }

}

.button--email{
    //same default
}
.button--facebook{
    background-color: #3b5998;
    border-color: #3b5998;
}
.button--instagram{
    background-color: #c13584;
    border-color: #c13584;
}
.button--twitter{
    background-color: #00aced;
    border-color: #00aced;
}

#ht-featured-post-section .ht-section-title-tagline,
#ht-featured-post-section .ht-featured-excerpt,
.ht-slide {
    a {
        color: inherit;
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
}

@import "inc/branding";
@import "inc/language";
@import "inc/home_slide";
@import "inc/team_member";
@import "inc/featured";
@import "inc/counter";

@import "pages/image";

.ht-container-inner{
    background-color: rgba(#ffffff, 0.56);
    color: #444;
    padding: 10px;
    max-width: 820px;
    margin: 0 auto;
    .ht-section-title,
    .ht-section-tagline{
        width: auto;
    }
    @include tablet{
        padding: 20px;
    }
}